*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

header{
    height: 12vh;
    width: 100%;
}

.container_header{
    height: 100%;
    width: 100%;
    background-color: #3347B0;
    display: flex;
    place-items: center;
    justify-content: space-between;
}
.items_header_logo_text{
    display: flex;
    padding-left: 3rem;
}

.school_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
    padding-left: 0.5rem;
}
.button_exit{
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    color: white;
    padding-right: 3rem;
    place-items: center;
}
.sair{
    padding-left: 0.5rem;
}

main{
    height: 70vh;
    width: 100%;
    background-color: white;
}


.container_main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    
}


.left_side_container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_left_side_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container_left_side_text{
    font-size: 3rem;
}
.text_first_row_main{
    display: flex;
}
.curso_text_style{
    color: #3347B0;
    padding-left: 1rem;
}

.center_container_main{
    display: flex;
    flex-direction: column;
    place-self: center;
}

footer{
    height: 18vh;
    width: 100%;
    background-color: #3347B0;
    align-items: center;
}

.right_side_container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container_right_side_cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card{
    height: 150px;
    width: 300px;
    background-color: #3347B0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    box-shadow: 12px 12px 4px #3347B080;
}
.card img{
    height: 3rem;
    width: 3rem;
}

.container_footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 22px;
}

.information_contacts{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.row_information{
    display: flex;
    color: white;
    font-size: 1.5rem;
    gap: 20px;
}
.copyright{
    font-size: 1rem;
    color: white;
}
.rede_social_design{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_right_side_footer{
    height: 50px;
    width: 400px;
}

.container_social_apps{
    display: flex;
    gap: 20px;
}

.container_right_side_cards :hover{
    background-color: lightblue;
    transition: 0.4s;
    cursor: pointer;
}

.row_card{
    display: flex;
    align-items: center;
    gap: 25px;
}

@media (max-width: 640px){

    header{
        height: 20%;
    }

    .container_main{
        display: grid;
    }

    .center_container_main{
        display: none;
    }

    .container_right_side_cards{
        display: flex;
        place-content: center;
        align-items: center;
    }

    .container_left_side_image{
        display: none;
    }

    footer{
        height: auto;
    }

    .container_footer{
        display: grid;
        gap: 30px;
    }

    .container_right_side_footer{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        place-content: center;
    }

    .container_social_apps{
        display: flex;
        flex-direction: column;
    }

}