*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Poppins', sans-serif;
}
header{
    height: 12vh;
    width: 100%;
}

.container_header{
    height: 100%;
    width: 100%;
    background-color: #3347B0;
    display: flex;
    place-items: center;
    justify-content: space-between;
}
.items_header_logo_text{
    display: flex;
    padding-left: 3rem;
}

.school_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
    padding-left: 0.5rem;
}
.button_exit{
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    color: white;
    padding-right: 3rem;
    place-items: center;
}
.sair{
    padding-left: 0.5rem;
}

.header_main{
    height: 50px;
    width: 100%;
    background-color: #BCC2E5;
    position: fixed;
}
.container_header_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 96px;
    padding-right: 96px;
}

.container_Legenda{
    display: flex;
    gap: 24px;
}
.azul{
    height: 20px;
    width: 20px;
    background-color: #3347B0;
}
.amarelo{
    height: 20px;
    width: 20px;
    background-color: #E5B657;
}

.cursando_legenda, .finalizado_legenda {
    font-family: 'Roboto';
    font-size: 1rem;
    color: #3347B0;


}


.container_status_legenda{
    display: flex;
    gap: 8px;
}

.status{
    color: #3347B0;
    font-size: 1rem;
}
.legenda{
    color: #3347B0;
    font-size: 1rem;
}

footer{
    height: 18vh;
    width: 100%;
    background-color: #3347B0;
    align-items: center;
}
.container_footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 22px;
}

.information_contacts{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.row_information{
    display: flex;
    color: white;
    font-size: 1.5rem;
    gap: 20px;
}
.copyright{
    font-size: 1.5rem;
    color: white;
}
.rede_social_design{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_right_side_footer{
    height: 50px;
    width: 400px;
}

.container_social_apps{
    display: flex;
    gap: 20px;
}

main{
    
    height: 70vh;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    
}

.container_header_main_main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curso_name{
    font-size: 54px;
    font-weight: 500;
    color: #3347B0;
    padding-top: 65px;
    padding-bottom: 50px;
}

.container_Area_Main{
    background-color: tomato;
    max-width: 100%;
    height: fit-content;
}

.card_alunos {
    height: 300px;
    width: 200px;
    border-radius: 6%;
    background-color:  grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top start;
    color: white;
    font-size: 18px;

}

.cursando {
    background-color:  #3347B0; 
}

.finalizado {
    background-color: #E5B657;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 25px;
    background-color: white;
    padding-left: 60px;
}

.container_card_alunos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    place-items: center;

}

.container_card_alunos span{
    font-family: 'Poppins';
    max-width: 90%;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.125rem;
}

.container_card_alunos img{
    height: 200px;
    width: 200px;
}



.container_Area_Main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 25px;
    background-color: white;
    padding-left: 96px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: #BCC2E5;
    color: #3347B0;
    font-size: 1.25rem;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3347B0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1rem;
}

.linha {
    position: absolute;
    width: 100%;
    top: 0;
    border: 1px solid var(--cor-marrom);
}

.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
  padding: 18px 50px 18px 16px;
}  

.dropdown-content a:hover {
    background-color: lightblue;
    transition: 0.4s;
    cursor: pointer;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}