*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 12vh;
    width: 100%;
}

.container_header{
    height: 100%;
    width: 100%;
    background-color: #3347B0;
    display: flex;
    place-items: center;
    justify-content: space-between;
}
.items_header_logo_text{
    display: flex;
    padding-left: 3rem;
}

.school_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    padding-left: 0.5rem;
}
.button_exit{
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    color: white;
    padding-right: 3rem;
    place-items: center;
}
.sair{
    padding-left: 0.5rem;
}

main{
    height: 70vh;
    width: 100%;
    background-color: white;
}


.container_main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    
}


.left_side_container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_left_side_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container_left_side_text{
    font-size: 3rem;
}
.text_first_row_main{
    display: flex;
}
.curso_text_style{
    color: #3347B0;
    padding-left: 1rem;
}

.center_container_main{
    display: flex;
    flex-direction: column;
    place-self: center;
}

footer{
    height: 18vh;
    width: 100%;
    background-color: #3347B0;
}

.right_side_container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container_right_side_cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card{
    height: 150px;
    width: 300px;
    background-color: #3347B0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}
.card img{
    height: 3rem;
    width: 3rem;
}
